.movie-search-container {
  margin-bottom: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.movie-search-container input,
.movie-search-container select {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.movie-search-button {
  padding: 8px 15px;
  background: #222;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.movie-search-button:hover {
  background: #444;
}
